<section [ngClass]="{'loading': !taskList.length}"> <!--só mostra a imagem se o taskList estiver vazio-->

  <ul *ngIf="taskList.length"><!--ngif usado para excluir componentes vazios-->
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked">
      <input type="text" [(ngModel)]="item.task">

      <button>
        <img src="assets/icons/icon-trash.svg" alt="">
      </button>
    </li>
  </ul>

</section>

<app-todo-input-add-itens></app-todo-input-add-itens>
<app-todo-button-delete-all *ngIf="taskList.length"></app-todo-button-delete-all><!--o botão de deletar só irá aparecer se tiver itens na lista-->
